# Root Environment Configuration File

# Node Environment
NODE_ENV=development

# Server Port Settings
BACKEND_PORT=5000
FRONTEND_PORT=5173

# SQLite storage location relative to root backend path
SQLITE_STORAGE=./database.sqlite
